body {
	background-color: white;
	color:#5b9b53;
	font-family: 'Covered By Your Grace', Lucida Grande, sans-serif;
	font-size:36px;
	margin: 0px;
	height:100%;
	width:100%;
	overflow:hidden;
}

.transbackground-container
{
	height:324px;
	width:100%;
	position:absolute;
	top:50%;
	left:0;
}

.transbackground
{
	position:relative;
	top:-162px;
	height:324px;
	width:100%;
	background-image:url("textBackground.png");
}

.clock
{
	z-index:1;
	position:absolute;
	top:50%;
	left:50%;
}

.clockHolder
{
	position:relative;
	top:-44px;
	left:-425px;
}

.counting-image
{
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
	border-radius: 8px;
	position:absolute;
	top:0;
	z-index:0;
	-moz-transition: 1000ms ease-in;
	-webkit-transition: 1000ms ease-in;
	-o-transition: 1000ms ease-in;
	-ms-transition: 1000ms ease-in;
	transition: 1000ms ease-in;
}

.counting-image-0
{
	left:0;
}

.counting-image-1
{
	left:74px;
}

.counting-image-2
{
	left:148px;
}

.counting-image-3
{
	left:222px;
}

.counting-image-4
{
	left:309px;
}

.counting-image-5
{
	left:383px;
}

.counting-image-6
{
	left:457px;
	top:26px;
}

.counting-image-7
{
	left:475px;
}

.counting-image-8
{
	left:549px;
}

.counting-image-9
{
	left:623px;
	top:26px;
}

.counting-image-10
{
	left:641px;
}

.counting-image-11
{
	left:715px;
}

.bottom-background
{
	background-image:url("bottomBackground.png");
	background-repeat:repeat-x;
	position:absolute;
	width:100%;
	height:250px;
	top:150px;
	left:0;
	z-index:1000;
}

.falling
{
	top:350px;
	z-index: 10;
	-moz-transform: scaleY(-1);
	-o-transform: scaleY(-1);
	-webkit-transform: scaleY(-1);
	transform: scaleY(-1);
	filter: FlipV;
	-ms-filter: "FlipV";
}

.topText
{
	position:relative;
	top:-130px;
	left:-317px;
	white-space: nowrap;
}

.days
{
	position:absolute;
	top:15px;
	left:220px;
	z-index:10;
}
